
/*Colors*/
$text: #050505;
$background: #fafafa;
$primary: #101820;
$secondary: #F7EA48;
$accent: #e32a1c;

/** Font Families */
$font-sans: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !default;

$color_a: #335c67ff;
$color_a_link: rgb(0, 0, 0);
$color_a_visited: #e09f3eff;
$ccolor_a_hover: #9e2a2bff;
$color_a_active: #540b0eff;
$fuente_predeterminada: TwCenMTStd, $font-sans;
$fuente_titulos: impact, $font-serif;
$fuente_frase: DaysLater, impact, $font-serif;
$fuente_subtitulos: HanzelExtendedBold, impact, $font-serif;
$background-color_1: #f9f9f6;